#avatar {
  width: 256px;
  height: 256px;
  border: 1px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
#name {
  margin: 0.5em 0; }
#pic {
  border: 0px;
  vertical-align:middle;
}

.reveal .title {
  margin-bottom: 0.8em; }

.reveal .date {
  color: #000; }

.reveal .l1 {
  font-size: 2.2em; }

.reveal .l2 {
  font-size: 1.7em; }

.reveal .l3 {
  font-size: 1.4em; }

.reveal .l4 {
  font-size: 1.2em; }

.reveal .l5 {
  font-size: 0.9em; }

.reveal .l6 {
  font-size: 0.7em; }

.reveal ul {
  font-size: 1.6em; }
